# This is the configuration file for the sosreport-analyzer.
# 
# If you have installed this program before, new version will not override.
#
# Please check /usr/share/sosreport-analyzer/sosreport-analyzer.conf.CentOS7.example, and
# copy it as /etc/sosreport-analyzer.conf.
#
#
# 'all' echos every line in the file.
# Remember that 'all' should come very first. Other 'all' is omitted automatically.
# In some items, you can set any item-name, but string length shoul be between 2 to 10.
# Sometimes, certain files are not made by sosreport.
# In such cases, you can skip the file, setting item-name to 'skip'.
# But don't worry, sosreport-analyzer will automatically skips the directory which is not present.
# ex. lsb-release=skip

##==== general ==== 

## date
##
## All you can set is 'all'

date=all

## lsb-release
##
## All you can set is 'all'

lsb-release=all

## uname 
##
## All you can set is 'all'

uname=all

## hostname
##
## All you can set is 'all'

hostname=all

## uptime
##
## All you can set is 'all'

uptime=all

## installed-rpms=<item> ...
##
## You can set arbitrary item-name including 'all' up to 12
## ex. installed-rpms=kernel

installed-rpms=all

## proc/cpuinfo
##
## You can set arbitrary item-name including 'all' up to 12
## ex. proc/cpuinfo=

proc/cpuinfo=vendor_id model flags

## root/anaconda-ks.cfg 
##
## All you can set is 'all'

root/anaconda-ks.cfg=all

## dmidecode=<item> ...
##
## Presently, you can set these item-name, 'bios', 'memory' or 'all'

dmidecode=bios memory Smart Firmware firmware

## etc/default/
##
## All you can set is 'all'

etc/default/=all

## etc/sysconfig/
##
## All you can set is 'all'

etc/sysconfig/=all

## sos_commands/boot/ 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. sos_commands/boot/=all

sos_commands/boot/=all

##==== cpu ==== 

## proc/interrupts
##
## All you can set is 'all'

proc/interrupts=all

##==== module ====

## lsmod=<item> ...
##
## You can set arbitrary item-name including 'all' up to 12
## ex. lsmod=Module kvm video

lsmod=all

## etc/modprobe.d/
##
## All you can set is 'all'

etc/modprobe.d/=all

## sys/module/
##
## All you can set is 'all'

sys/module/=all

##==== device ==== 

## lspci=<item> ...
##
## You can set arbitrary item-name including 'all' up to 20

lspci=00: 01: 02: 03: 04: 05: 06: 07: 08: 09: 7f 80 driver modules

## etc/udev/ 
##
## All you can set is 'all'

etc/udev/=all

## sos_commands/devicemapper/
##
## All you can set is 'all'

sos_commands/devicemapper/=all

## devices/udevadm_info_--export-db=<item> ...
##
## You can set arbitrary item-name including 'all' up to 12

sos_commands/devices/udevadm_info_--export-db=all

## sos_commands/scsi/lsscsi 
##
## All you can set is 'all'

sos_commands/scsi/lsscsi=all

## sos_commands/usb/
##
## All you can set is 'all'

sos_commands/usb/=all

##==== disk usage ==== 

## df=<item> ...
##
## You can set arbitrary item-name including 'all' up to 2

df=/dev

## vgdisplay
##
## All you can set is 'all'

vgdisplay=all

##==== memory usage ==== 

## free
##
## All you can set is 'all'

free=all

## sos_commands/memory/ 
##
## All you can set is 'all'

sos_commands/memory/=all

## proc/meminfo
##
## You can set arbitrary item-name including 'all' up to 12
## ex. proc/meminfo=HugePage Hugepages

proc/meminfo=all

##==== networking ==== 

## etc/host
##
## All you can set is 'all'

etc/host=all

## ip_addr 
##
## All you can set is 'all'

ip_addr=all

## route 
##
## All you can set is 'all'

route=all

## etc/sysconfig/network-scripts/ifcfg-
##
## All you can set is 'all'

etc/sysconfig/network-scripts/ifcfg-=all

## etc/firewalld
##
## All you can set is 'all'

etc/firewalld/=all

## sos_commands/firewalld
##
## All you can set is 'all'

sos_commands/firewalld/=all

## proc/net/dev
##
## All you can set is 'all'

proc/net/dev=all

## proc/net/sockstat
##
## All you can set is 'all'

proc/net/sockstat=all

## sos_commands/networking/ethtool_-S
##
## You can set arbitrary item-name including 'all' up to 12
## ex. sos_commands/networking/ethtool_-S=error 

sos_commands/networking/ethtool_-S=all

## sos_commands/networking/ethtool_-i
##
## You can set arbitrary item-name including 'all' up to 12
## ex. sos_commands/networking/ethtool_-i=firmware 

sos_commands/networking/ethtool_-i=all

## sos_commands/networking/
##
## All you can set is 'all'

sos_commands/networking/=all

## netstat 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. netstat=TIME_WAIT 

netstat=TIME_WAIT

##==== process ==== 

## ps 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. ps=java 

ps=all

##==== virtualization ==== 

## sos_commands/virsh/
##
## All you can set is 'all'

sos_commands/virsh/=all

##==== files ==== 

## lsof 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. lsof=bash 

lsof=bash

##====  systemd ==== 

## etc/systemd/system/
##
## All you can set is 'all'

etc/systemd/system/=all

## etc/systemd/
##
## All you can set is 'all'

etc/systemd/=all

## usr/lib/systemd/
##
## All you can set is 'all'

usr/lib/systemd/=all

##==== security ==== 

## etc/pam.d/
##
## All you can set is 'all'

etc/pam.d/=all

## sos_commands/pam/
##
## All you can set is 'all'

sos_commands/pam/=all

## var/log/secure
##
## You can set arbitrary item-name including 'all' up to 12
## ex. var/log/secure=su:session failure 

var/log/secure=su:session failure

## etc/audit/
##
## All you can set is 'all'

etc/audit/=all

## sos_commands/auditd/
##
## All you can set is 'all'

sos_commands/auditd/=all

## var/log/audit/
##
## You can set arbitrary item-name including 'all' up to 12
## ex. var/log/audit/=denied 

var/log/audit/=denied

## etc/pki/
##
## All you can set is 'all'

etc/pki/=all

##==== kernel ==== 

## etc/kdump.conf 
##
## All you can set is 'all'

etc/kdump.conf=all

## etc/sysctl.conf 
##
## All you can set is 'all'

etc/sysctl.conf=all

## sos_commands/sysctl_-a 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. sos_commands/kernel/sysctl_-a=panic 

sos_commands/kernel/sysctl_-a=panic

## var/crash/ 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. var/crash/=all

var/crash/=all

## sos_commands/abrt/
##
## You can set arbitrary item-name including 'all' up to 12
## ex. sos_commands/abrt/=all

sos_commands/abrt/=all

##==== yum ==== 

## etc/yum.conf 
##
## All you can set is 'all'

etc/yum.conf=all

## etc/yum.repos.d/
##
## All you can set is 'all'

etc/yum.repos.d/=all

##==== login ==== 

## last
##
## You can set 'username' including 'all' up to 12
## example1 - last=fujiwara
## example2 - last=fujiwara root
## example3 - last=all

last=all

##==== cron ==== 

## etc/cron.d/
##
## All you can set is 'all'

etc/cron.d/=all

## var/spool/cron/
##
## All you can set is 'all'

var/spool/cron/=all

##==== logrotate ==== 

## etc/logrotate.conf
##
## All you can set is 'all'

etc/logrotate.conf=all

## etc/logrotate.d/
##
## All you can set is 'all'

etc/logrotate.d/=all

##==== logs and journals ==== 

## etc/rsyslog.conf 
##
## All you can set is 'all'

etc/rsyslog.conf=all

## var/log/dmesg 
##
## All you can set is 'all'

var/log/dmesg=all

## var/log/messages 
##
## You can set arbitrary item-name including 'all' up to 20
## ex. var/log/messages=error 

var/log/messages=error WARNING dump_stack bnx2x tg3 [<ffff Trace hung blocked nfs NFS rpc RPC stat

## sos_commands/logs/journalctl_--no-pager
##
## You can set arbitrary item-name including 'all' up to 20 
## ex. sos_commands/logs/journalctl_--no-pager=kdump 

sos_commands/logs/journalctl_--no-pager=kdump WARNING dump_stack bnx2x tg3 [<ffff Trace hung blocked nfs NFS rpc RPC stat

## sos_commands/sar/
##
## All you can set is 'all'

sos_commands/sar/=all

##==== httpd ==== 

## etc/httpd/
##
## All you can set is 'all'

etc/httpd/=all

## sos_commands/apache/
##
## All you can set is 'all'

sos_commands/apache/=all

##==== others ( default item is 'skip' ) ==== 

## lib/
##
## All you can set is 'all'

lib/=skip

## etc/
##
## All you can set is 'all'

etc/=skip

## sos_commands/
##
## All you can set is 'all'

sos_commands/=skip

## dev/
##
## All you can set is 'all'

dev/=skip

## usr/
##
## All you can set is 'all'

usr/=skip

## var/
##
## All you can set is 'all'

var/=skip

## proc/ 
##
## You can set arbitrary item-name including 'all' up to 12
## ex. proc/=all

proc/=skip
